/.idea
/.vscode
/temp
/build/node_modules
/plugin/sync.ffs_db
/plugin/bin/version.json
/plugin/global/user_styles/*.css
/plugin/window_tab/save_tabs.json
/plugin/custom/plugins/reopenClosedFiles/remain.json
/plugin/custom/plugins/scrollBookmarker/bookmark.json
